img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
    border-color: black;
    border: 8px;
    border-radius: 50;
    border-style:solid;
}
main{
    background-color: lightgray;
    margin: auto;
    padding: 50px;
    border: 10px;
    border-style: double;
    border-color: black;
}
Nav{
    background-color: lightblue;
    font-size: 16px;
    color: black;
    border: 10px;
    border-color: cornsilk;
    margin: 10px;
}
.a{
    text-align: right;
    font-size: 16px;
}